@import 'variables.scss';
@import './header/header.scss';
@import './rental/rental-listing.scss';
@import './rental/rental-detail.scss';
@import './rental/rental-manage.scss';
@import 'form/form.scss';
@import './booking/booking.scss';

.page-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.apartment{
    color: #a72da3;
}

.house{
    color: #bf1818;
}

.condo{
    color: #d68000;
}

.btn-bwm{
    background-color: $main-color;
    border-color: $main-color;
    color: white;
    padding: 15px 30px;
    font-size: 20px;

    &:hover, &:focus, &:active{
        border-color: $main-color !important;
        background-color: $main-color !important;

    }
}

