@import 'variables.scss';
@import './header/header.scss';
@import './rental/rental-listing.scss';
@import './rental/rental-detail.scss';

.page-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.apartment{
    color: #a72da3;
}

.house{
    color: #bf1818;
}

.condo{
    color: #d68000;
}

